@page
@{
Layout=null;
}
<html>
<head>
<title>Tugas 1 ASP</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<style type="text/css">
div{
    background: #2ea3f2;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
}
</style>
</head>
<body>
    <nav>
        <a href="index.html" style="background-color:yellow;">Home</a> |
        <a href="cv-dian.pdf" style="background-color:green;">Download CV</a> |
        <a href="contact.html" style="background-color:blue;">Contact</a> |
        <a href="about.html" style="background-color:red;">About me</a>
    </nav>

    <hr />

    <header style="text-align: center;">
        <img src="Shared/foto.jpg" width="200" height="200" style="border-radius: 50%;"/>
        <h1>Azhar fauzan muapa</h1>
        <p>(2019804010)</p>
    </header>

    <hr />

    <article style="text-align: center;">
        <h2>Belajar ASP</h2>
        <p>
            saya adalah mahasiswa berdomisili Tangerang
            Saat ini sedang belajar ASP.NET 
        </p>
    </article>

    <div style="max-width: 600px; margin: 3em auto">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Pengalaman</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>Latihan HTML</li>
                            <li>Latihan CSS</li>
                            <li>Latihan Javascript</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>ASP.NET CORE</li>
                            <li>ASP.NET CORE</li>
                            <li>ASP.NET CORE</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <footer style="text-align: center;">
        <p>Belajar ASP</p>
    </footer>
</body>
</html>